.wrapper-balloon {
  height: 200px;
  width: 400px;
}

.ballon-list {
  list-style-type: none;
}

.balloon-name-organization {
  font-size: 20px;
  color: orange;
  padding-top: 20px;
}

.balloon-name-phone {
  font-size: 15px;
  padding-top: 20px;
}

.balloon-email {
  font-size: 15px;
  color:blue;
  padding-top: 20px;
}