.wrapper-balloon {
  height: 180px;
  width: 400px;
}

.ballon-list {
  list-style-type: none;
}

.balloon-name-organization {
  font-size: 20px;
  color: #ff9e00;
  padding-top: 10px;
}

.balloon-name-phone {
  font-size: 15px;
  color: white;
  padding-top: 20px;
}

.balloon-email {
  font-size: 15px;
  color:#2d8bbc;
  padding-top: 20px;
}
