.wrapper-aside {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1;
}

.aside-box-switcher {
  height: 35px;
  width: 400px;
}

.button-switcher {
  height: 35px;
  width: 200px;
  color: #afafaf;
  cursor: pointer;
  outline: none;
}

.button-switcher-active {
  background-color: #ff9e00;
  color: white;
  border: none;
}

.aside-name-city-and-data {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.wrapper-aside-content {
  padding-top: 20px;
  height: auto;
}

.aside-name-city {
  height: 100px;
}
