.aside-name-city-and-data:first-child {
  margin-top: 0px;
}

.wrapper-city-name-open {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-text-name-city {
  margin-left: 10px;
}

.aside-text-name-city-active {
  color:#ff9e00;
}

.aside-icon-open {
  margin-right: 25px;
  height: 20px;
  cursor: pointer;
}
