.aside-name-city-and-data:first-child {
  margin-top: 0px;
}

.wrapper-city-name-open {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-text-name-city {
  margin-left: 10px;
}

.aside-icon-open {
  margin-right: 10px;
}

.aside-text-name-city-active {
  color:orange;
}
.aside-icon-open {
  height: 20px;
/*   background-color: orange; */
}

.icon-actve {
  transform: rotate(180deg);
}
